.none {
    display: none;
}

body {
    background-color: #1C2225;
    font-family: "Manrope", sans-serif;
    color: #FCF9F9;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 375px;

    padding-top: 80px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 704px;
        padding-left: 0;
        padding-right: 0;
        padding-top: 100px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1180px;
        padding-top: 150px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1240px;
    }
}

.section-title {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.38;
    letter-spacing: -0.96px;
}

@media screen and (min-width: 768px) {
    .section-title {
        font-size: 44px;
        line-height: 1.45;
        letter-spacing: -1.32px;
    }
}

.yellow {
    color: #ECD979;
}